.tablet{
    width: 45%;
    padding :1rem;
     align-items: center;
    
}

.tablet__texto{
    font-size: 1.15rem;
    text-align: left;
    margin-left: 0.8rem;

}


.tablet__imagem{
    width: 100%;
    margin-left:0;
    

}

