.tablet{
    padding :1rem;
     align-items: center;
    
}

.tablet__texto{
    font-size: 1.16rem;
    text-align: center;
    justify-content: center;
    margin-left: 5rem;

}


.tablet__imagem{
    width: 100%;
    margin-left:3rem;
    

}

